@import '../../App.css';

.separator-container {
    width: 20px;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.separator-circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items:center;
    justify-content: center;
}