@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 15px;
  letter-spacing: normal;
}

button {
  padding: 8px auto;
}

body, html {
  margin: 0;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6, small {
  font-weight: normal;
  letter-spacing: normal;
  color: #172b4d;
  line-height: 150%;
  margin: 0;
  padding: 0;
  width: fit-content;
}

h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 29px;
  font-weight: 600;
  letter-spacing: -0.05rem;
}

h4 {
  font-size: 23px;
  font-weight: 600;
  letter-spacing: 0;
}

h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
}

p {
  font-size: 1.05rem;
  font-weight: 400;
  letter-spacing: normal;
}

small {
  font-size: 0.85rem;
  font-weight: 400;
  letter-spacing: normal;
}

.cap {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  font-weight: 500;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #f3f4f8;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

button span {
  font-size: 13px;
}

.grey {
  color: grey;
}

.darkgrey {
  color: #434a57;
}