@import '../../App.css';

.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #FFF;
    padding: 0 20px;
}

.header-container .header-left {
    display: flex;
    align-items: center;
}

.logo {
    margin: auto 0px;
    width: 32px;
    height: 32px;
    border-radius: 7px;
    background-color: #8fb9f8;
}